header {
    background-color: rgba(157, 104, 207, 0.705);
    color: wheat;
}

main {
    background-color: black;
    color: wheat;
}

footer{
    background-color: rgba(157, 104, 207, 0.705);
    color: wheat;
}